section.about-section
  .wrapper
    .about-section__container
      .about-section__block
        h2.about-section__title
          span.font-w-i-regular.font-s-110 67%
          span.font-s-40-a
            | россиян 
            br.no-br
            | предпочитают 
            br
            | отдых на природе
        .about-section__text
          .about-section__text-item.font-s-22
            | При этом только немногие из них, готовы выбрать 
            br.no-br
            | такой отдых без комфортных условий для проживания 
            br.no-br
            | и ищут для себя варианты, которые 
            span.font-w-semi-bold
              | позволят им 
              br.no-br
              | получить максимальное удовольствие от поездки
          .about-section__text-item.font-s-22
            | За последние годы рынок внутреннего туризма вырос 
            br.no-br
            | на 25% и продолжает непрерывно расти, именно 
            br.no-br
            | поэтому сейчас идеальное время,
            span.font-w-semi-bold
              | чтобы начать свой 
              br.no-br
              | туристический бизнес
          .font-w-bold.font-s-24
            | Откройте свой глэмпинг «ВДАЛЬ» 
            br.no-br
            | и обеспечьте себя стабильным бизнесом 
            br.no-br
            | в развивающейся нише
      .swiper-about
        .about-section__cards.swiper-wrapper
          .about-section__card.swiper-slide
            img.about-section__img.brad-20(src="images/about-section-img-1.jpg" loading="lazy" width="380" height="310" alt="image")
          .about-section__card.swiper-slide
            img.about-section__img.brad-20(src="images/about-section-img-2.jpg" loading="lazy" width="380" height="310" alt="image")
          .about-section__card.swiper-slide
            img.about-section__img.brad-20(src="images/about-section-img-3.jpg" loading="lazy" width="380" height="310" alt="image")
          .about-section__card.swiper-slide
            img.about-section__img.brad-20(src="images/about-section-img-4.jpg" loading="lazy" width="380" height="310" alt="image")
          .about-section__card.swiper-slide
            img.about-section__img.brad-20(src="images/about-section-img-5.jpg" loading="lazy" width="380" height="310" alt="image")
          .about-section__card.swiper-slide
            img.about-section__img.brad-20(src="images/about-section-img-6.jpg" loading="lazy" width="380" height="310" alt="image")
          .about-section__card.swiper-slide
            img.about-section__img.brad-20(src="images/about-section-img-7.jpg" loading="lazy" width="380" height="310" alt="image")
          .about-section__card.swiper-slide
            img.about-section__img.brad-20(src="images/about-section-img-8.jpg" loading="lazy" width="380" height="310" alt="image")
          .about-section__card.swiper-slide
            img.about-section__img.brad-20(src="images/about-section-img-9.jpg" loading="lazy" width="380" height="310" alt="image")
        .about-pagination
