section.details-section
  .wrapper
    .details-section__container
      h2.details-section__title.font-w-i-regular.font-s-52 Почему «ВДАЛЬ»
      .swiper-bullet
        .details-section__cards.swiper-wrapper
          .details-section__card.brad-20.swiper-slide
            .font-w-i-regular.font-s-30-a Бизнес-модель
            .font-s-20-a
              | Вы получите проверенную 
              br.no-br
              | бизнес-модель, которая уже 
              br.no-br
              | доказала свою эффективность 
              br.no-br
              | и легко начнете зарабатывать 
              br.no-br
              | сразу после открытия
          .details-section__card.brad-20.details-section__card--secondary.swiper-slide
            .font-w-i-regular.font-s-30-a Актуальная концепция
            .font-s-20-a
              | Вы будете позиционировать себя как 
              br.no-br
              | комфортабельный глэмпинг в уникальных 
              br.no-br
              | природных местах, где можно будет как 
              br.no-br
              | побыть в уединении, так и проводить 
              br.no-br
              | тимбилдинги для компаний
          .details-section__card.brad-20.swiper-slide
            .font-w-i-regular.font-s-30-a Опытные партнеры
            .font-s-20-a
              | Мы поможем вам полностью 
              br.no-br
              | погрузиться в специфику 
              br.no-br
              | бизнеса и настроить все 
              br.no-br
              | процессы, передадим свои 
              br.no-br
              | знания и опыт
          .details-section__card.brad-20.swiper-slide
            .font-w-i-regular.font-s-30-a Сильный маркетинг
            .font-s-20-a
              | Передадим свои методы 
              br.no-br
              | привлечения клиентов, 
              br.no-br
              | поможем найти оптимальные 
              br.no-br
              | площадки для продвижения и 
              br.no-br
              | настроить работу соц.сетей
          .details-section__card.brad-20.swiper-slide
            .font-w-i-regular.font-s-30-a Легкий старт
            .font-s-20-a
              | Предоставим все необходимые 
              br.no-br
              | данные для быстрого запуска 
              br.no-br
              | бизнеса и поможем прийти 
              br.no-br
              | к вашим первым финансовым 
              br.no-br
              | результатам
        .bullet-pagination
      .details-section__bottom
        .details-section__bottom-text
          .font-w-i-regular.font-s-32-a Хотите узнать детали сотрудничества?
          .font-s-22
            | Скачайте договор, в котором описаны
            br
            | наши обязанности и условия партнерства
        button.btn.details-section__btn(data-remodal-target="modal-form-agreement") скачать
