footer.footer
  .wrapper
    .footer__container
      .footer__brand.font-s-18
        span.font-w-bold «ВДАЛЬ»
        br
        | Франшиза глэмпинга
      .footer__logo-wrapper
        img.footer__logo(src="images/logo.svg" loading="lazy" width="88" height="83" alt="logo")
      .footer__call-me
        button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
        a.footer__privacy.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
