header.header
  .wrapper
    .header__container
      .header__brand.font-s-18
        span.font-w-bold «ВДАЛЬ»
        br
        | Франшиза глэмпинга
      .header__logo-wrapper
        img.header__logo(src="images/logo.svg" loading="lazy" width="88" height="83" alt="logo")
      .header__call-me
        button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
    .header__brand-mobile.font-s-18 Франшиза глэмпинга
