section.thanks-section
  .wrapper
    .thanks-section__container
      h1.thanks-section__title.font-w-i-regular.font-s-40
        | Наши менеджеры уже занимаются 
        br
        | Вашей заявкой
      p.thanks-section__inner-text.font-s-24
        | Мы свяжемся с Вами в ближайшее время
      a.btn(href="index.html") Вернуться на главную
