.finances-section
  background-image: url('../images/finances-section-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color #F8C789

  &__container
    position relative
    z-index 1
    padding 25px 0
    text-align: center
    color: $color-white
    +above($breakpoints.sm)
      text-align: start
      padding 40px 0 50px
    +above($breakpoints.md)
      padding 60px 0 70px
    +above($breakpoints.xxl)
      padding 80px 0 102px

  &__title
    padding-bottom 15px
    +above($breakpoints.sm)
      padding-bottom 30px
    +above($breakpoints.md)
      padding-bottom 40px
    +above($breakpoints.xxl)
      padding-bottom 50px

  &__block
    width 100%
    display: flex
    flex-direction: column
    align-items: center
    gap: 5px
    +above($breakpoints.sm)
      gap: 10px
      flex-direction: row
      align-items: flex-start
    +above($breakpoints.md)
      gap: 20px

  &__swiper-wrapper
    +above($breakpoints.sm)
      width 480px
    +above($breakpoints.md)
      width 636px
    +above($breakpoints.xxl)
      width 780px

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      gap: 10px
    +above($breakpoints.md)
      gap: 20px

  &__card
    width 280px !important
    background-color #fff
    color: $color-black-text
    display: flex
    flex-direction: column
    align-items: center
    gap: 8px
    padding 15px 5px
    +above($breakpoints.sm)
      width 235px !important
      align-items: flex-start
      gap: 12px
      padding 25px 5px 25px 25px
    +above($breakpoints.md)
      width: 308px !important;
      padding 30px 5px 29px 30px
    +above($breakpoints.xxl)
      width 380px !important
      padding 40px 5px 36px 35px

  &__bottom
    width 100%
    backdrop-filter: blur(23px);
    background: linear-gradient(180deg, rgba(116, 72, 44, 0.2) 0%, rgba(218, 134, 82, 0.2) 100%);
    display: flex
    flex-direction: column
    align-items: center
    padding 15px 10px
    +above($breakpoints.sm)
      align-items: flex-start
      width 235px
      padding 10px 5px 10px 10px
    +above($breakpoints.md)
      width 308px
      padding 20px 5px 22px 25px
    +above($breakpoints.xxl)
      width 380px
      padding 25px 5px 25px 40px

  &__bottom-text
    padding 10px 0 15px
    +above($breakpoints.sm)
      padding 15px 0 20px
    +above($breakpoints.md)
      padding 18px 0 25px
    +above($breakpoints.xxl)
      padding 20px 0 30px

  &__form
    width 100%
    display: flex
    flex-direction: column
    align-items: center
    gap: 8px
    +above($breakpoints.sm)
      align-items: flex-start
      gap: 12px
    +above($breakpoints.md)
      gap: 16px
    +above($breakpoints.xxl)
      gap: 20px
    & > *
      width 280px !important
      +above($breakpoints.sm)
        width 210px !important
      +above($breakpoints.md)
        width 260px !important
      +above($breakpoints.xxl)
        width 300px !important
